/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "SVN-Poppins";
  src: url("../fonts/SVN-Poppins-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../fonts/SVN-Poppins-Regular.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Poppins";
  src: url("../fonts/SVN-Poppins-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/SVN-Poppins-SemiBold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: "SVN-Poppins";
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.over {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.list-style-none {
  list-style: none !important;
}

/* -----------------------------------------------------------
	button
----------------------------------------------------------- */
.btn-orange {
  background: #e80638;
  position: relative;
  overflow: hidden;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  color: #fff !important;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7003+0,ff9703+100 */
  background: rgb(255, 112, 3);
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 112, 3)), to(rgb(255, 151, 3)));
  background: linear-gradient(to right, rgb(255, 112, 3) 0%, rgb(255, 151, 3) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff7003", endColorstr="#ff9703",GradientType=1 );
  /* IE6-9 */
  border-radius: 15px;
  padding: 12px 15px;
}
.btn-orange:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 112, 3, 0.2);
          box-shadow: 0 0 0 0.25rem rgba(255, 112, 3, 0.2);
}
.btn-orange:hover:before {
  opacity: 1;
}
.btn-orange:before {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(217, 91, 0);
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgb(217, 91, 0)), to(rgb(255, 131, 3)));
  background: linear-gradient(to right, rgb(217, 91, 0) 0%, rgb(255, 131, 3) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d95b00", endColorstr="#ff8303",GradientType=1 );
  /* IE6-9 */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.btn-orange span {
  position: relative;
  z-index: 2;
}

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.main-header {
  padding: 30px 10px 10px;
}
.main-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 9002;
}
.main-header .dropdown-toggle {
  border: 0;
  background: none;
}
.main-header .dropdown-toggle:after {
  display: none;
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 22px;
}
.main-nav li:last-child a {
  background: #F91E4E;
  border-radius: 8px;
  padding: 8px 15px;
}
.main-nav li a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.main-nav li a:hover, .main-nav li a.active {
  color: #F91E4E;
}
.main-nav li a:before {
  content: "";
}

/* -----------------------------------------------------------
	.footer
----------------------------------------------------------- */
.footer {
  width: 100%;
  padding: 65px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  margin-top: 150px;
}
@media only screen and (max-width: 991px) {
  .footer {
    margin-top: 0px;
  }
}
.footer a {
  text-decoration: none;
}
.footer img {
  display: block;
  width: 204px;
  height: 46px;
}
.footer .footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .footer .footer-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

/* -----------------------------------------------------------
	.con-benefit
----------------------------------------------------------- */
.header-top {
  background: url("../images/bg-header.jpg") no-repeat;
  background-size: cover;
  min-height: 900px;
  background-position: 100% 100%;
}
.header-top .block-header .header-text {
  padding-top: 50px;
}
@media only screen and (max-width: 575px) {
  .header-top .block-header .header-text {
    padding-top: 40px;
  }
}
.header-top .block-header .header-text h4 {
  font-size: 44px;
  color: #fff;
  font-weight: 500;
  line-height: 66px;
}
@media only screen and (max-width: 575px) {
  .header-top .block-header .header-text h4 {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    line-height: 36px;
  }
}
.header-top .block-header .header-text h4 span {
  font-size: 44px;
  color: #FFD027;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
@media only screen and (max-width: 575px) {
  .header-top .block-header .header-text h4 span {
    font-size: 24px;
    color: #FFD027;
    font-weight: 700;
  }
}
.header-top .block-header .header-text h4 span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 25px;
  display: block;
  background: #FFD027;
  opacity: 0.3;
}
.header-top .block-header .header-text p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 32px;
  padding: 30px 0px;
}
@media only screen and (max-width: 575px) {
  .header-top .block-header .header-text p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
  }
}
.header-top .block-header .header-text p span {
  font-size: 18px;
  color: #FFD027;
  font-weight: 700;
}
@media only screen and (max-width: 575px) {
  .header-top .block-header .header-text p span {
    font-size: 14px;
    color: #FFD027;
    font-weight: 700;
  }
}
.header-top .block-header .header-text .btn-download {
  background: #FFD027;
  border-radius: 12px;
  padding: 15px 20px 9px;
  font-size: 18px;
  color: #111111;
  font-weight: 600;
  line-height: 27px;
}
.header-top .header-right {
  position: relative;
  display: block;
  padding-top: 70px;
}
.header-top .header-right img {
  margin-bottom: -100px;
  width: 100%;
}

.feature-block {
  position: relative;
  padding-top: 100px;
}
.feature-block .feature-title h2 {
  font-size: 32px;
  color: #111111;
  font-weight: 600;
  line-height: 48px;
}
@media only screen and (max-width: 575px) {
  .feature-block .feature-title h2 {
    font-size: 24px;
    color: #111111;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 30px;
  }
}
.feature-block .list-feature {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/bg-yellow.png") no-repeat;
  padding: 110px 0px;
  background-size: cover;
}
@media only screen and (max-width: 575px) {
  .feature-block .list-feature {
    background: #FFD027;
    padding: 50px 0px;
  }
}
.feature-block .list-feature .feature-item {
  text-align: center;
  padding: 25px 10px;
}
.feature-block .list-feature .feature-item img {
  width: 18%;
  display: block;
  margin: 0 auto;
}
.feature-block .list-feature .feature-item h6 {
  font-size: 24px;
  color: #111111;
  font-weight: 600;
  line-height: 36px;
  margin: 18px 0px 8px;
}
@media only screen and (max-width: 575px) {
  .feature-block .list-feature .feature-item h6 {
    font-size: 20px;
    color: #111111;
    font-weight: 600;
    line-height: 30px;
  }
}
.feature-block .list-feature .feature-item p {
  font-size: 16px;
  color: #111111;
  font-weight: 400;
  line-height: 24px;
}

.social-block {
  background: url("../images/bg-social.png") no-repeat;
  background-size: cover;
  margin-top: -150px;
  padding-bottom: 80px;
  background-position: 100% 100%;
  padding-top: 150px;
}
@media only screen and (max-width: 575px) {
  .social-block {
    background: url("../images/mb-social.png") no-repeat;
    margin-top: 0;
    margin-bottom: 0;
    background-size: contain;
  }
}
.social-block .social-text {
  padding-top: 20%;
}
@media only screen and (max-width: 575px) {
  .social-block .social-text {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  .social-block .social-text {
    padding-top: 45%;
  }
}
@media only screen and (max-width: 575px) {
  .social-block .social-text {
    padding-top: 25%;
  }
}
.social-block .social-text h2 {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 575px) {
  .social-block .social-text h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    line-height: 36px;
  }
}
@media only screen and (max-width: 991px) {
  .social-block .social-text h2 {
    text-align: center;
  }
}
.social-block .social-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}
@media only screen and (max-width: 575px) {
  .social-block .social-text p {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .social-block .social-text p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
.social-block .social-text p a {
  margin-right: 25px;
}
.social-block .social-text p a img {
  width: 100%;
}
@media only screen and (max-width: 575px) {
  .social-block .social-text p a {
    margin-bottom: 20px;
    display: block;
  }
}
.social-block .social-img {
  position: relative;
  margin-bottom: -40px;
}
@media only screen and (max-width: 991px) {
  .social-block .social-img {
    padding-top: 40px;
  }
}
.social-block .social-img img {
  width: 70%;
  display: block;
}
@media only screen and (max-width: 991px) {
  .social-block .social-img img {
    margin: 0 auto;
  }
}

.tournament-block {
  padding: 100px 0px;
}
@media only screen and (max-width: 575px) {
  .tournament-block {
    padding: 0px;
  }
}
.tournament-block .tournament-title h2 {
  font-size: 32px;
  color: #111;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 30px;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-title h2 {
    font-size: 24px;
    color: #111;
    font-weight: 600;
    text-align: left;
    line-height: 36px;
  }
}
.tournament-block .tournament-image {
  background: #FFFFFF;
  -webkit-box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-image {
    height: 160px;
  }
}
.tournament-block .tournament-image:before {
  content: "";
  width: 90%;
  height: 4px;
  margin: 0 auto;
  background: #FFD027;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  top: 0px;
}
.tournament-block .tournament-list .tournament-item:nth-child(1) img {
  width: 62%;
}
@media only screen and (max-width: 991px) {
  .tournament-block .tournament-list .tournament-item:nth-child(1) img {
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-list .tournament-item:nth-child(1) img {
    width: 62%;
  }
}
.tournament-block .tournament-list .tournament-item:nth-child(2) img {
  width: 42%;
}
@media only screen and (max-width: 991px) {
  .tournament-block .tournament-list .tournament-item:nth-child(2) img {
    width: 35%;
  }
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-list .tournament-item:nth-child(2) img {
    width: 42%;
  }
}
.tournament-block .tournament-list .tournament-item:nth-child(3) img {
  width: 52%;
}
@media only screen and (max-width: 991px) {
  .tournament-block .tournament-list .tournament-item:nth-child(3) img {
    width: 45%;
  }
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-list .tournament-item:nth-child(3) img {
    width: 52%;
  }
}
.tournament-block .tournament-list .tournament-item:nth-child(4) img {
  width: 42%;
}
@media only screen and (max-width: 991px) {
  .tournament-block .tournament-list .tournament-item:nth-child(4) img {
    width: 35%;
  }
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-list .tournament-item:nth-child(4) img {
    width: 42%;
  }
}
.tournament-block .tournament-list .tournament-item:nth-child(5) img {
  width: 40%;
}
@media only screen and (max-width: 991px) {
  .tournament-block .tournament-list .tournament-item:nth-child(5) img {
    width: 31%;
  }
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-list .tournament-item:nth-child(5) img {
    width: 40%;
  }
}
.tournament-block .tournament-list .tournament-item:nth-child(6) img {
  width: 52%;
}
@media only screen and (max-width: 991px) {
  .tournament-block .tournament-list .tournament-item:nth-child(6) img {
    width: 45%;
  }
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-list .tournament-item:nth-child(6) img {
    width: 52%;
  }
}
.tournament-block .tournament-list .tournament-item:nth-child(7) img {
  width: 47%;
}
@media only screen and (max-width: 991px) {
  .tournament-block .tournament-list .tournament-item:nth-child(7) img {
    width: 41%;
  }
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-list .tournament-item:nth-child(7) img {
    width: 47%;
  }
}
.tournament-block .tournament-list .tournament-item:nth-child(8) img {
  width: 52%;
}
@media only screen and (max-width: 991px) {
  .tournament-block .tournament-list .tournament-item:nth-child(8) img {
    width: 41%;
  }
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-list .tournament-item:nth-child(8) img {
    width: 52%;
  }
}
.tournament-block .tournament-footer p {
  font-size: 18px;
  color: #111;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .tournament-block .tournament-footer p {
    font-size: 16px;
    color: #111;
    font-weight: 400;
    line-height: 24px;
  }
}