@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	button
----------------------------------------------------------- */
.btn-orange {
	background: darken($primary, 8%);
	position: relative;
	overflow: hidden;
	height: 56px;
	font-weight: 500;
	font-size: 20px;
	color: #fff !important;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7003+0,ff9703+100 */
	background: rgb(255,112,3); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,112,3,1) 0%, rgba(255,151,3,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,112,3,1) 0%,rgba(255,151,3,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,112,3,1) 0%,rgba(255,151,3,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7003', endColorstr='#ff9703',GradientType=1 ); /* IE6-9 */
	border-radius: 15px;
	padding: 12px 15px;
	&:focus {
		box-shadow: 0 0 0 0.25rem rgba(255,112,3,0.2);
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
	&:before {
		opacity: 0;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgb(217,91,0); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(217,91,0,1) 0%, rgba(255,131,3,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(217,91,0,1) 0%,rgba(255,131,3,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(217,91,0,1) 0%,rgba(255,131,3,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d95b00', endColorstr='#ff8303',GradientType=1 ); /* IE6-9 */
		transition: all 0.4s ease;
	}
	span {
		position: relative;
		z-index: 2;
	}
}
