@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.main-header {}
