@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.con-benefit
----------------------------------------------------------- */

@mixin style-font($size, $color, $weight) {
		font-size: $size;
		color: $color;
		font-weight: $weight;
}

.header-top {
	background: url('../images/bg-header.png') no-repeat;
	background-position: center;
	background-size: cover;
	.block-header {
		.header-text {
			padding-top: 50px;
			@include mq(max_xs) {
				padding-top: 40px;
			}
			h4 {
				@include style-font(44px,#fff,500);
				line-height: 66px;
				@include mq(max_xs) {
					@include style-font(24px,#fff,500);
					line-height: 36px;
				}
				span {
					@include style-font(44px,#FFD027,700);
					text-transform: uppercase;
					position: relative;
					display: inline-block;
					@include mq(max_xs) {
						@include style-font(24px,#FFD027,700);
					}
					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: 0;
						width: 100%;
						height: 25px;
						display: block;
						background: #FFD027;
						opacity: 0.3;
					}
				}
			}
			p {
				@include style-font(18px,#fff,400);
				line-height: 32px;
				padding: 30px 0px;
				@include mq(max_xs) {
					@include style-font(14px,#fff,400);
				}
				span {
					@include style-font(18px,#FFD027,700);
					@include mq(max_xs) {
						@include style-font(14px,#FFD027,700);
					}
				}

			}
			.btn-download {
				background: #FFD027;
				border-radius: 12px;
				padding: 15px 20px 9px;
				@include style-font(18px,#111111,600);
				line-height: 27px;
			}
		}

	}
	.header-right {
    position: relative;
    display: block;
    padding-top: 70px;
		img {
			margin-bottom: -100px;
			width: 100%;
		}
	}
}

.feature-block {
	position: relative;
	padding-top: 100px;
	.feature-title {
		h2 {
			@include style-font(32px,#111111,600);
			line-height: 48px;
			@include mq(max_xs) {
				@include style-font(24px,#111111,600);
				line-height: 36px;
				margin-bottom: 30px;
			}
		}
	}
	.list-feature {
		justify-content: center;
		background: url('../images/bg-yellow.png') no-repeat;
		padding: 110px 0px;
    background-size: cover;
		@include mq(max_xs) {
			background: #FFD027;
			padding: 50px 0px;
		}
		.feature-item {
			text-align: center;
			padding: 25px 10px;
			img {
				width: 18%;
				display: block;
				margin: 0 auto;
			}
			h6 {
				@include style-font(24px,#111111,600);
				line-height: 36px;
				margin: 18px 0px 8px;
				@include mq(max_xs) {
					@include style-font(20px,#111111,600);
					line-height: 30px;
				}
			}
			p {
				@include style-font(16px,#111111,400);
				line-height: 24px;
			}
		}
	}
}

.social-block {
	background: url('../images/bg-social.png') no-repeat;
	background-size: cover;
	margin-top: -150px;
	padding-bottom: 80px;
	background-position: 100% 100%;
	padding-top: 150px;
	@include mq(max_xs) {
		background: url('../images/mb-social.png') no-repeat;
		margin-top: 0;
		margin-bottom: 0;
		background-size: contain;
	}
	.social-text {
		padding-top: 35%;
		@include mq(max_xs) {
			padding-top: 50px;
			width: 90%;
			margin: 0 auto;
			display: block;
			text-align: center;
		}
		@include mq(max_md) {
			padding-top: 45%;
		}
		@include mq(max_xs) {
			padding-top: 25%;
		}
		h2 {
			@include style-font(32px,#fff,600);
			line-height: 48px;
			margin-bottom: 20px;
			@include mq(max_xs) {
				@include style-font(24px,#fff,600);
				line-height: 36px;
			}
			@include mq(max_md) {
				text-align: center;
			}
		}
		p {
			display: flex;
			width: 70%;
			@include mq(max_xs) {
				display: block;
			}
			@include mq(max_md) {
				justify-content: center;
				margin: 0 auto;
			}
			a {
				margin-right: 25px;
				img {
					width: 100%;
				}
				@include mq(max_xs) {
					margin-bottom: 20px;
					display: block;
				}
			}
		}
	}

	.social-img {
		position: relative;
		margin-bottom: -40px;
		@include mq(max_md) {
			padding-top: 40px;
		}
		img {
			width: 70%;
			display: block;
			@include mq(max_md) {
				margin: 0 auto;
			}
		}
	}
}

.tournament-block {
	padding: 100px 0px;
	@include mq(max_xs) {
		padding: 0px;
	}
	.tournament-title {
		h2 {
			@include style-font(32px,#111,600);
			line-height: 48px;
			margin-bottom: 30px;
			text-align: center;
			@include mq(max_xs) {
				@include style-font(24px,#111,600);
				text-align: left;
				line-height: 36px;
			}
		}
	}
	.tournament-image {
		background: #FFFFFF;
		box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);
		position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
		margin-bottom: 40px;
		@include mq(max_xs) {
			height: 160px;
		}
		&:before {
			content: "";
			width: 90%;
			height: 4px;
			margin: 0 auto;
			background: #FFD027;
			border-radius: 0px 0px 8px 8px;
			position: absolute;
			top: 0px;
		}
	}
	.tournament-list {
		.tournament-item {
			&:nth-child(1) {
				img {
					width: 62%;
					@include mq(max_md) {
						width: 50%;
					}
					@include mq(max_xs) {
						width: 62%;
					}
				}
			}
			&:nth-child(2) {
				img {
					width: 42%;
					@include mq(max_md) {
						width: 35%;
					}
					@include mq(max_xs) {
						width: 42%;
					}
				}
			}
			&:nth-child(3) {
				img {
					width: 52%;
					@include mq(max_md) {
						width: 45%;
					}
					@include mq(max_xs) {
						width: 52%;
					}
				}
			}
			&:nth-child(4) {
				img {
					width: 42%;
					@include mq(max_md) {
						width: 35%;
					}
					@include mq(max_xs) {
						width: 42%;
					}
				}
			}
			&:nth-child(5) {
				img {
					width: 40%;
					@include mq(max_md) {
						width: 31%;
					}
					@include mq(max_xs) {
						width: 40%;
					}
				}
			}
			&:nth-child(6) {
				img {
					width: 52%;
					@include mq(max_md) {
						width: 45%;
					}
					@include mq(max_xs) {
						width: 52%;
					}
				}
			}
			&:nth-child(7) {
				img {
					width: 47%;
					@include mq(max_md) {
						width: 41%;
					}
					@include mq(max_xs) {
						width: 47%;
					}
				}
			}
			&:nth-child(8) {
				img {
					width: 52%;
					@include mq(max_md) {
						width: 41%;
					}
					@include mq(max_xs) {
						width: 52%;
					}
				}
			}
		}
	}
	.tournament-footer {
		p {
			@include style-font(18px,#111,400);
			line-height: 27px;
			text-align: center;
			@include mq(max_xs) {
				@include style-font(16px,#111,400);
				line-height: 24px;
			}
		}
	}
}