@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.con-benefit
----------------------------------------------------------- */
.con-benefit {}
